In [6]:
#1

def functional_func (name, surname):
    full_name = name + surname
    total_symbols = len(full_name)
    return total_symbols

def non_functional_func(name, surname):
    print(f"Hello {name} {surname}!")
    
print(functional_func("Anna", "Popova"))
non_functional_func("Anna", "Popova")

10
Hello Anna Popova!

In [9]:
#2
def func_2(param = 1):
    _dict = {"option_1":"dictionary"}
    _lst = [2, 3, 4]
    _tuple = (3, 4, 3.14)
    
    if param == 1:
        return _dict
    if param == 2:
        return _lst
    else:
        return _tuple
    
print(func_2(3))

(3, 4, 3.14)

In [16]:
#4
#map

lst = [1, 2, 3, 4, 5]

def square (lst):
    res = list(map(lambda x: x**2, lst))
    print(res)
    
square(lst)

[1, 4, 9, 16, 25]

In [17]:
#4 alternative

lst = [1,2,3,4,5]

def square(x):
    return x**2

res = list(map(square, lst))
print(res)

[1, 4, 9, 16, 25]

In [24]:
#filter
import statistics
def positive(lst):
    return lst > 0

lst = [1,2,3,4,5]

res = list(filter(positive, lst))
print(res)

[1, 2, 3, 4, 5]

In [26]:
#reduce without lambda

from functools import reduce

def _min(x, y):
    if x > y:
        return y
    else:
        return x
    
lst = [1,2,0,5,3]

print(reduce(_min, lst))

0

In [27]:
#with lambda

from functools import reduce

lst = [1,2,0,5,3]

print(reduce(lambda x, y: x if x < y else y, lst ))

0

In [7]:
#task4
#coordinates of square

x1,y1 = (43.194677, 76.881797) #Аль-Фараби - Саина
x2,y2 = (43.245815, 76.837811) #Саина - Ташкентская
x3,y3 = (43.271120, 76.953491) #Ташкентская - Достык 
x4,y4 = (43.228688, 76.960492) #Достык - Аль-Фараби

def delivery(street_name, x, y, cost):
    min_x = min(x1, x2, x3, x4)
    max_x = max(x1, x2, x3, x4)
    min_y = min(y1, y2, y3, y4)
    max_y = max(y1, y2, y3, y4)
    if x >= min_x and x <= max_x and y >= min_y and y < max_y:
        if cost < 10000:
            return cost + 500
        else:
            return cost
    else:
        return cost + 1000

delivery("Манаса",43.198, 76.954, 1000)

1500

In [18]:
#если функции не известны
#функции h, g - задаются на этапе вызова с помощью анонимной функции 
def outer(f):
    def middle(g):
        def inner(x):
            return f(g(x))
        return inner
    return middle


res = outer(lambda h: h**2)(lambda g: g + 1)(2)
print(res)

9

In [31]:
#если бы функции были известны 

def outer(a):
    def middle(b):
        def inner(c):
            return a*b + c  #действие над аргументами прописывается явно в return
        return inner
    return middle

res = outer(2)(3)(4)
print(res)

10